<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Game</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <header>
        <div id="website-name"><a href="/">Server Game</a></div>
        <nav>
            <ul>
                <li><img class="menu-obj" draggable="false" src="/images/checkpoint.png" title="Checkpoint"></li>
                <li><img class="menu-obj" draggable="false" src="/images/datacenter.png" title="Data Center"></li>
                <li><img class="menu-obj" draggable="false" src="/images/firewall.png" title="Firewall"></li>
                <li><img class="menu-obj" draggable="false" src="/images/router.png" title="Router"></li>
                <li><img class="menu-obj" draggable="false" src="/images/server.png" title="Server"></li>
                <li><img class="menu-obj" draggable="false" src="/images/generator.png" title="Generator"></li>
            </ul>
        </nav>
    </header>

    <div id="cloud-obj" class="draggable">
        <p class="overlap-text">0</p>
        <img draggable="false" src="/images/cloud.png">
    </div>

    <div id="powerline-obj" class="draggable">
        <p class="overlap-text">0</p>
        <img draggable="false" src="/images/powerline.png">
    </div>

    <svg id="connections" style="position:absolute; top:0; left:0; width:100%; height:100%; pointer-events:none;"></svg>
</body>

<script src="/scripts/game.js"></script>

</html>
