/*
Colors: beige, saddlebrown, and burlywood
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: beige;
}

.test {
    background-color: red;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-image: linear-gradient(to bottom, rgb(224, 207, 184), beige);
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#website-name {
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    display: flex;
    align-items: center;
}

#website-name a {
    color: saddlebrown;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: saddlebrown;
    font-size: 20px;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-weight: bolder;
    background-color: beige; /* Or any other background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is above all other content */
}

body.loaded #loading-screen {
    display: none;
}

#loading-percentage {
    font-weight: bold;
    color: sandybrown /* Customize this color to match your design */
}